#back-to-home:hover {
    background: #FF6200;
    text-shadow: 0 0px 0;
}

#back-to-home:active {
    background: #FF6200;
    text-shadow: 0 0px 0;
}

#back-to-home {
    border-radius: 0px;
    border: 0px;
    float: left
}